source https://www.nuget.org/api/v2/

nuget FAKE
nuget FluentAssertions
nuget FSharp.Core
nuget FsUnit
nuget NUnit
nuget NUnit.Runners
nuget FSharpx.Extras

nuget Microsoft.Owin 3.0.1 framework: >= net45
nuget Microsoft.Owin.Host.HttpListener 3.0.1 framework: >= net45
nuget Microsoft.Owin.Hosting 3.0.1 framework: >= net45
nuget Microsoft.Owin.Testing 3.0.1 framework: >= net45
nuget Owin 1.0 framework: >= net45


github wallymathieu/Perch lib/Enum.fs
github wallymathieu/Perch lib/Xml.fs
