<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking"
        type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking"
        type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web"
        preCondition="managedHandler"/>
    </modules>
    <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
       <add name="Access-Control-Allow-Headers" value="SOAPAction,Content-Type"/>
     </customHeaders>
   </httpProtocol>
  </system.webServer>
  <system.serviceModel>
    <bindings>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomerService">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CustomerService">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy15" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Customers.CustomerService" behaviorConfiguration="CustomerService">
        <endpoint address=""
                  behaviorConfiguration="CustomerService"
                  binding="webHttpBinding"
                  contract="Customers.ICustomerService"
                  name="BasicEndPoint"/>
        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <!-- from svc util
  <bindings>
            <basicHttpBinding>
                <binding name="BasicEndPoint" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.galasoft.ch/labs/Customers/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicEndPoint"
                contract="CustomerService" name="BasicEndPoint" />
        </client>-->
</configuration>